<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Registro Social</title>

	<link href="~/css/site.css" rel="stylesheet" />

    <link href="~/css/content/print.css" rel="stylesheet" />
    <link href="~/css/content/tabla.css" rel="stylesheet" />
    <link href="~/css/content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/content/sweetalert.css" rel="stylesheet" />
    <link href="~/css/content/font-awesom.css" rel="stylesheet" />


    <link href="~/css/datable/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/datable/datatables.bootstrap5.css" rel="stylesheet" />
    <link href="~/css/datable/responsive.bootstrap5.css" rel="stylesheet" />
    <link href="~/css/datable/datatables.datatables.css" rel="stylesheet" />
    <link href="~/css/datable/buttons.datatables.css" rel="stylesheet" />

</head>
<body>
    <script src="~/js/datatable/jquery-3.7.1.js"></script>
    <script src="~/js/datatable/bootstrap.bundle.min.js"></script>
    <script src="~/js/datatable/datatables.js"></script>
    <script src="~/js/datatable/datatables.bootstrap5.js"></script>
    <script src="~/js/datatable/datatables.responsive.js"></script>
    <script src="~/js/datatable/responsive.bootstrap5.js"></script>
    <script src="~/js/datatable/datatables.buttons.js"></script>
    <script src="~/js/datatable/buttons.datatables.js"></script>
    <script src="~/js/datatable/jszip.min.js"></script>
    <script src="~/js/datatable/pdfmake.min.js"></script>
    <script src="~/js/datatable/vfs_fonts.js"></script>
    <script src="~/js/datatable/buttons.html5.min.js"></script>
    <script src="~/js/datatable/buttons.print.min.js"></script>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/luxon@2.3.0/build/global/luxon.min.js"></script>



    <style>
        body {
            background-color: #d1f2eb; /* Color de fondo predeterminado */
            transition: background-color 0.5s ease; /* Transición suave para el cambio de color */
        }</style>
    <!-- Menú de navegación fijo en la parte superior -->
   
        
            @{
                var usuarioAutenticado = Context.Session.GetString("UsuarioAutenticado");
                var nombreUsuario = Context.Session.GetString("NombreUsuario");
            }
            @if (usuarioAutenticado != null || nombreUsuario != null)
            {
                <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #39A6A3; height:auto; width:100%;">
                    <div class="container">
                    <div class="d-flex justify-content-start" style="height:60px; margin-right:10px">
                        <img src="~/img/hospitalHDHlogo.png" alt="Hospital Logo" />
                        </div>

                        <!-- Título del menú -->
                        @Html.ActionLink("Registro Epidemiologico", "Index", "HOME", new { area = "" }, new { @class = "navbar-brand fw-bold" })

                        <!-- Botón para el menú colapsable en pantallas pequeñas -->
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <!-- Menú desplegable (se colapsa en pantallas pequeñas) -->
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex justify-content-end w-100">
                                <!-- Opción: Nuevo Registro -->
                                <li class="nav-item">
                            @Html.ActionLink("Nuevo Registro", "Index", "Paciente", new { area = "" }, new { @class = "nav-link" })
                                </li>
                                

                                <!-- Opción: Cerrar sesión -->
                                <li class="nav-item d-flex">
                                    <button class="btn btn-danger" onclick="CerrarSesion()"> CERRAR SESION </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>

            }


            <!-- Contenido Principal con ancho de columna 8 -->
            <main class="" style="padding-left:100px;padding-right:100px; padding-top:50px;border-color:aqua ; border-radius:3px 4px" role="main" aria-labelledby="main-heading">
                <h1 id="main-heading" class="visually-hidden">Contenido Principal de Registro Epidemiologico</h1>
                @RenderBody()
            </main>
        
    <input id="idRaiz" type="hidden" value=@Url.Content("~") />

    <script src="~/js/usuario/sesion.js"></script>
    <script src="~/js/sweetalert.js"></script>
    <script src="~/js/jquery-1.10.2.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/modernizr-2.6.2.js"></script>
	<script src="~/js/usuario/confirmacion.js"></script>

  
    @* <script src="~/js/scripts/datatable/configuracion/configuraciondt.js"></script> *@
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script> <!-- stats.js lib -->
    <script src="https://threejs.org/examples/js/libs/stats.min.js"></script>
    <script>


        particlesJS('particles-js', {
          "particles": {
            "number": {
              "value": 40,
              "density": {
                "enable": true,
                "value_area": 900
              }
            },
            "color": {
              "value": "#117864" // Color de las partículas
            },
              "shape": {
                 // "type": "circle",
                 "type": "image",
                 "polugon" :{
                  "nb_sides" : 5

                 },
                  "stroke": {
                    // "width": 1,
                    "width": 2,
                    "color": "#117864",
                  },
                  "polygon": {
                    "nb_sides": 5
                  },
                  "image": {
                    // "src": "img/github.svg",
                    "src": "/img/hospitalHDHlogo.png",
                    "width": 5,
                    "height": 5
                  }
                },
            "opacity": {
              "value": 0.5,
              "random": false,
              "anim": {
                "enable": false,
                "speed": 1,
                "opacity_min": 0.1,
                "sync": false
              }
            },
            "size": {
              "value": 30,
              "random": true,
              "anim": {
                "enable": false,
                "speed": 40,
                "size_min": 0.1,
                "sync": false
              }
            },
            "line_linked": {
              "enable": true,
              "distance": 170,
              "color": "#b03a2e",
              "opacity": 0.6,
              "width": 1
            },
            "move": {
              "enable": true,
              "speed": 6,
              "direction": "none",
              "random": false,
              "straight": false,
              "out_mode": "out",
              "attract": {
                "enable": false,
                "rotateX": 600,
                "rotateY": 1200
              }
            }
          },
          "interactivity": {
            "detect_on": "canvas",
            "events": {
              "onhover": {
                "enable": true,
                "mode": "repulse"
              },
              "onclick": {
                "enable": true,
                "mode": "push"
              },
              "resize": true
            },
            "modes": {
              "grab": {
                "distance": 400,
                "line_linked": {
                  "opacity": 1
                }
              },
              "bubble": {
                "distance": 400,
                "size": 40,
                "duration": 2,
                "opacity": 8,
                "speed": 3
              },
              "repulse": {
                "distance": 200
              },
              "push": {
                "particles_nb": 4
              },
              "remove": {
                "particles_nb": 2
              }
            }
          },
          "retina_detect": true,
          "config_demo": {
            "hide_card": false,
            "background_color": "#117864", // Color de fondo
            "background_image": "",
            "background_position": "50% 50%",
            "background_repeat": "no-repeat",
            "background_size": "cover"
          }
        });
    </script>
</body>
</html>