.custom-table {
    width: 100%;
    border-collapse: separate;
    border-radius: 8px;
    overflow: hidden; /* Para asegurar que las esquinas se mantengan redondeadas */
}


.custom-table tr:hover {
    background-color: #b6ff00;
}

.icon-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.custom-table td, .custom-table th {
    border-radius: 4px; /* Aplica bordes suaves a las celdas */
}
