
@{
    ViewBag.Title = "Index";
}

<link href="~/css/usuario/cssusuario.css" rel="stylesheet" />

<div class="login-container container-fluid">
    <h2>Inicio de Sesión</h2>
    <input type="text" id="usuario" placeholder="Usuario" required>
    <input type="password" id="password" placeholder="Contraseña" required>
    <button onclick="login()">Ingresar</button>
    <div class="error-message" id="error-message">Usuario o contraseña incorrectos.</div>
</div>

<script src="~/js/usuario/confirmacion.js"></script>